* {
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  padding: 0;
  margin: 0;
  color: whitesmoke;
  background-image: url("img/img_grainy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Headings Styles */
h1, h2, h3 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
}

/* General Section Styles */
.main {
  margin-top: 50px;
}

.about {
  margin-top: 50px;
}

.about p {
  text-align: justify;
  font-size: 1.1rem;
}

.about h1 {
  margin-bottom: 40px;
}

/* Links Section Styles */
.link {
  margin-left: 30px;
}

/* List Styles */
.styled-list {
  list-style: none;
  padding: 1.5em;
  margin: auto;
  max-width: 400px;
  backdrop-filter: blur(13px) saturate(131%);
  -webkit-backdrop-filter: blur(13px) saturate(131%);
  background-color: rgba(255, 255, 255, 0.132);
  border-radius: 23px;
  border: 1px solid rgba(209, 213, 219, 0.18);
}

.styled-list > a {
  text-decoration: none;
  color: whitesmoke;
}

/* List Item Styles */
.styled-list li {
  transition: ease .3s;
  border: 2px solid black;
  margin: .5em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  border-radius: 10px;
  text-align: center;
}

.styled-list li:hover {
  box-shadow: 4px 4px #4a3116;
  margin-left: -4px;
}

/* Icon Styles */
.link-list-icon {
  padding: .5em 1em .5em .5em;
  font-size: 22px;
  border-right: 2px solid black;
}

.link-list-text {
  flex: 1;
  padding-left: 10px;
  font-size: 22px;
}

/* Mobile and Tablet View Adjustments */
@media screen and (max-width: 768px) {
  body {
    background-image: url("img/img_grainy_mb.jpg");
  }

  .about p {
    font-size: 1rem;
  }

  .styled-list {
    width: 90%;
    padding: 1em;
  }

  .styled-list li {
    padding: 0.5em;
  }

  .link-list-icon {
    padding: .5em 1em .5em .5em;
    font-size: 20px;
  }

  .link-list-text {
    padding-left: 8px;
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-image: url("img/img_grainy_mb.jpg");
  }

  .about p {
    font-size: 0.5em;
  }

  .styled-list {
    width: 100%;
    padding: 0.8em;
  }

  .styled-list li {
    flex-direction: column;
    padding: 0.9em;
    text-align: left;
  }

  .link-list-icon {
    padding: .5em 1em .5em .5em;
    font-size: 18px;
    border: none;
  }

  .link-list-text {
    padding-left: 0;
    font-size: 18px;
    margin-top: 8px;
  }
}

@media screen and (max-width: 992px) {
  body {
    background-image: url("img/img_grainy_mb.jpg");
  }

  .styled-list {
    max-width: 90%;
  }

  .link {
    margin-left: 0;
  }
}
